.PostDetail {
  width: 100%;
  height: 100%;
  display: flex;
  color: #9a7f47;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}
.postDetail-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 20px 0px 200px;
}
.detail-header {
  width: 60%;
  text-transform: capitalize;
}
.top-content {
  display: flex;
}
.detail-description {
  width: 50%;
  text-transform: capitalize;
}
.comment-block {
  display: flex;
  flex-direction: column;
}
.Comments {
  display: flex;
  flex-direction: column;
}
.header-img {
  width: 700px;
  height: 300px;
}
/*  */
